<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dog Walking Service Login</title>
    <!--page style to control the overall layout and style-->
    <style>
    body{
        font-family: sans-serif;
        text-align: center;
        margin-top: 50px;
    }
    input {
        padding: 10px;
        margin: 10px;
        width: 200px;
    }
    button{
        padding:10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
    }
    .error {
        color: red;
        font-weight: bold;
    }
    </style>
</head>
<body>
    <!--title-->
    <h1>Welcome to the Dog Walking Service!</h1>
    <!--a ejs synaxt used for conditional rendering error message and displayed only when an error is passed ain at the back end-->
    <% if (error){ %>
    <p class="error"><%= error %></p>
    <% } %>
    <!--login form-->
    <form action="/login" method="POST">
        <div>
            <label>Username</label><br>
        </div>
        <div>
            <label>Paswwor</label><br>
            <input type="password" name="password" required>
        </div>
        <button type="submit">Login</button>
</form>
</body>
</html>